.app-container {
  display: flex;
  background-image: url('/images/whitenew.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  color: #4A4A4A;
  min-height: 100vh;
}
