.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #004444;
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-title {
  color: white;
  margin-bottom: 30px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.navLink:hover {
  background-color: #516d6d;
}

.navLink.logout {
  background-color: #ff8800;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}

.navLink.logout:hover {
  background-color: #ffb700;
}
